# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

GTAGS
GPATH
GRTAGS

# Visual studio junk
*.ipch
*.tlog
*.obj
*.log
*.exe
*.ilk
*.pdb
*.idb
*.exp
*.ipdb
*.iobj
.vs/
/build/interim/*

.vscode/


# Clion
.idea/
